html {
    background: url('../img/minecraft.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: none;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 1vw;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    display: flex;
    font-size: 10em;
}

.wrapper {
    flex-direction: column;
    display: flex;
    width: 300px;
    padding: 20px;
    font-size: 18px;
    top: 50%;
    left: 50%;
    margin-top: -15em;
    margin-left: -8.4em;
    position: absolute;
    border: 1px solid rgba(0,0,0,0.5);
}

.box {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -2.5em;
}

.item {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.image {
    display: none;
}

.image img {
    height: 1em;
}

input.result {
    font-family: 'Roboto', sans-serif;
    height: 0.9em;
    font-size: 1em;
    width: 1.5em;
    border: 0;
    margin-top: -7px;
    /*display: none;*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    /*background-color: yellow;*/
}

.head {
    top: 0;
    width: 100%;
    display: flex;
}

.top-right {
    margin-left: auto;
    font-size: 5em;
    padding: 8px;
}

.top-left {
    font-size: 5em;
    padding: 8px;
}

.footer {
    padding: 8px 8px 0px 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#score {
    display: inline-block;
}

.username:hover {
    cursor: pointer;
}

.misty {
    background-color: rgba(255,255,255,0.6);
}

.profile-text {
    font-size: 18px;
    font-weight: bold;
}

input.inline {
    display: inline-block;
    width: 80%;
    padding-right: 10px;
}
